/* english fonts */
@font-face {
    font-family: 'Georgia';
    src: url('fonts/Georgia.woff2') format('woff2'),
    url('fonts/Georgia.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monaco';
    src: url('fonts/Monaco.woff2') format('woff2'),
    url('fonts/Monaco.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bilbo';
    src: url('fonts/Bilbo-Regular.woff2') format('woff2'),
    url('fonts/Bilbo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'XXII ARABIAN-ONENIGHTSTAND';
    src: url('fonts/XXIIARABIAN-ONENIGHTSTAND-Bold.woff2') format('woff2'),
    url('fonts/XXIIARABIAN-ONENIGHTSTAND-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* arabic fonts */
@font-face {
    font-family: 'Scheherazade';
    src: url('fonts/Scheherazade.woff2') format('woff2'),
    url('fonts/Scheherazade.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Diwani Letter';
    src: url('fonts/DiwaniLetter.woff2') format('woff2'),
    url('fonts/DiwaniLetter.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* bangla fonts */
@font-face {
    font-family: 'AponaLohit';
    src: url('fonts/AponaLohit.woff2') format('woff2'),
    url('fonts/AponaLohit.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BongshaiMJ';
    src: url('fonts/BongshaiMJ.woff2') format('woff2'),
    url('fonts/BongshaiMJ.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prothoma';
    src: url('fonts/Prothoma.woff2') format('woff2'),
    url('fonts/Prothoma.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
