body {
  font: 10px sans-serif;
  margin: auto;
}

.mem {
  font: 15px "Monaco", "Menlo", sans-serif;
  padding: 20px;
}

.title {
  color: darkgreen;
  text-align: center;
}

.content {
  color: darkblue;
  width: 100%;
  text-align: center;
}

.navigate {
  margin: auto;
  padding: 5px;
  border: none;
  text-align: center;
  width: 5em;
  height: 5em;
  font-size: 15px;
  color: darkslategrey;
}

.prayer {
  font: 50px "Monaco", "Menlo", sans-serif;
  color: darkslategrey;
  margin: 10px;
  text-align: center;
}