@import url("fonts.css");

body {
  font: 10px sans-serif;
  margin: auto;
}

select, button, input {
  font-family: "Optima", "Georgia", "Times New Roman";
  font-size: 12px;
  vertical-align: middle;
  background-color: white;
}

hr {
  display: block;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  width: 200px;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.container {
  font: 18px "Optima", "Georgia", "Times New Roman";
  padding: 0px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: darkred;
  width: 800px;
  text-align: center;
  border: 1px ridge white;
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 0 0 10px gray;
}

.container.mobile {
  width: 480px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 5px gray;
}